<% layout('/layouts/boilerplate')-%>
   
<main>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h1>Welcome to Our Website</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Sed a ligula vitae velit ullamcorper consequat.</p>
                <a class="btn btn-dark load-btn" href="/index"> Explore</a>
            </div>
            <div class="col-md-6">
                <img src="https://digital.ihg.com/is/image/ihg/ihgor-member-rate-web-offers-1440x720" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
            </div>
        </div>
    </div>
</main>

