body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.container{
    flex: 1;
}
/* nabvar */
.navbar{
    height: 5rem;
    background-color: #ffffff !important;
    padding-left: 1rem;
}

.fa-regular{
    color: #FF385C;
    font-size: 30px;
}
.nav-link{
    color:#222222 !important;
}

.f-info{
    display: flexbox;
    text-align: center;
    }
    
.f-info-social{
    width: 100%;
}

.f-info-links a:hover{
    text-decoration: underline;
}
.fa-brands{
    padding: .5rem;
    font-size: 1.5rem;
    color: #222222;
}
.f-info-links a{
    padding-left: .5rem;
}

/* home page */
.home-container{
    margin-top: 1.5rem !important;
}
/* cards */


.product_card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0;

}

.card-link{
    text-decoration: none !important;
}


/* card-img-overlay */

.card-img-overlay{
    opacity: 0;
    background-color: white;
    transition: 200ms linear 200ms ;
}

.card-img-overlay:hover{
    opacity: 0.2;
}

/* new or create */

.create-btn{
    border: none;
    background-color:#FF385C;
}

/* edit page */

.edit-btn{
    background-color: #FF385C;
    border: none;
}

/* show page */

.show-image{

    height: 40vh;
    
}
#my-map {
    height: 400px;
    width: 80vh;
}

.edit-delete-btn{
    display: flex;
}
.delete-btn{
    background-color: #FF385C;
    border: none;
    margin-left: 1rem;
}
.review-btn{
    background-color: #FF385C;
    border: none;
}

/* root page */

.load-btn{
    background-color: #FF385C;
    border: none;
}


/* review  */
.star {
    color: gold;
    font-size: 24px;
}